<app-header-dyn></app-header-dyn>
<div *ngIf="patient" class="detailContain">
    <div class="detailPatient">
        <div class="blocPatient">
            <div class="infoPatient">
                <img src="../../../assets/img/icone-patient.png"/><p>Nom & Prénom : </p><span>{{patient.name}} {{patient.firstname}}</span>
            </div>
            <div class="infoPatient">
                <img src="../../../assets/img/icone-service.png"/><p>Service : </p>
                <span *ngIf="patient.department != null">{{patient.department}}</span>
                <span *ngIf="patient.department == null">- -</span>
            </div>
            <div class="infoPatient">
                <img src="../../../assets/img/porte-patient.png"/>
                <p>Chambre : </p>
                <span *ngIf="patient.room != 0">{{patient.room}}</span>
                <span *ngIf="patient.room == 0">- -</span>
            </div>
            <div class="infoPatient">
                <img src="../../../assets/img/icone-lit.png"/><p>Lit : </p>
                <span *ngIf="patient.bed != 0">{{patient.bed}}</span>
                <span *ngIf="patient.bed == 0">- -</span>
            </div>
        <div class="buttonContain">
            <button *ngIf="isInfirmier" class="buttonComment" (click)="onAddComment()">Ajouter un commentaire</button>
            <div class="buttonSuvi">
                <button *ngIf="patient.bed == 0 && isSecretaire" (click)="onAssignBed()" class="entree">Entrée</button>
                <button *ngIf="patient.bed != 0 && isSecretaire" (click)="onOuting()" class="sortie">Sortie</button>
                <button *ngIf="isSecretaire" class="modify" (click)="onEditPatient(patientId)">Modifier</button>
            </div>
        </div>
    </div>
    </div>

    <div *ngIf="isInfirmier" class="historiquePatient">
        <h2>Historique du patient</h2>
        <div *ngFor="let monitor of monitoring" class="historiqueBloc">
            <div class="CommentBloc">
                <div *ngIf="monitor.symptom" class="symptome">Symptôme : <span>{{monitor.symptom}}</span></div>
                <div class="comment">{{monitor.comment}}</div>
            </div>
            <div class="commentInfo">
                <div class="dateInfo">{{monitor.date | date : "dd/MM/yy, à HH:mm"}}</div>
                <div class="infirmierInfo">{{monitor.userName}} - {{monitor.userFirstName}}</div>
            </div>

        </div>
    </div>
</div>