<app-header-dyn></app-header-dyn>

<div class="ajoutPContain">
    <div class="overlay">
        <div class="formContain">
            <form [formGroup]="form"  (ngSubmit)="onSubmit()">
                <h1>Ajouter un patient</h1>
                <div class="inputContain">
                    <div class="inputAjoutP">
                        <label for="">Nom :</label>
                        <input placeholder="Nom" type="text" name="name" formControlName="name" [(ngModel)]="patient.name">

                        <small *ngIf="form.get('name')?.hasError('required') && form.get('name')?.touched">
                            Champs obligatoire !
                        </small>
                    </div>

                    
                    
                    <div class="inputAjoutP">
                        <label for="">Prénom :</label>
                        <input placeholder="Prénom" type="text" name="firstname" formControlName="firstname" [(ngModel)]="patient.firstname">

                        <small *ngIf="form.get('firstname')?.hasError('required') && form.get('firstname')?.touched">
                            Champs obligatoire !
                        </small>
                    </div>
                    
                    

                </div>
                <div class="inputContain">
                    <div class="inputAjoutP">
                        <label for="">Adresse :</label>
                        <input placeholder="Adresse" type="text" name="address" formControlName="address" [(ngModel)]="patient.address">

                        <small *ngIf="form.get('address')?.hasError('required') && form.get('address')?.touched">
                            Champs obligatoire !
                        </small>
                    </div>

                    <div class="inputAjoutP">
                        <label for="">Ville :</label>
                        <input placeholder="Ville" type="text" name="city" formControlName="city" [(ngModel)]="patient.city">

                        <small *ngIf="form.get('city')?.hasError('required') && form.get('city')?.touched">
                            Champs obligatoire !
                        </small>
                    </div>
                </div>

                <div class="inputContain">
                    <div class="inputAjoutP">
                        <label for="">Code Postal :</label>
                        <input placeholder="Code Postal" type="text" name="postcode" formControlName="postcode" [(ngModel)]="patient.postcode">

                        <small *ngIf="form.get('postcode')?.hasError('required') && form.get('postcode')?.touched">
                            Champs obligatoire !
                        </small>
                    </div>

                    

                    <div class="inputAjoutP">
                        <label for="">Date de naissance :</label>
                        <input placeholder="Date de naissance" type="date" name="birth_date" formControlName="birthDate" [(ngModel)]="patient.birthDate">

                        <small *ngIf="form.get('birthDate')?.hasError('required') && form.get('birthDate')?.touched">
                            Champs obligatoire !
                        </small>
                    </div>
 
                </div>
                <div class="inputContain">
                    <div class="inputAjoutP">
                        <label for="">N° sécurité social :</label>
                        <input placeholder="N° sécurité social" type="text" name="security_number" formControlName="securityNumber" [(ngModel)]="patient.securityNumber">

                        <small *ngIf="form.get('securityNumber')?.hasError('required') && form.get('securityNumber')?.touched">
                            Champs obligatoire !
                        </small>
                    </div>
                    
                    <div class="inputAjoutP">
                        <label for="">Téléphone :</label>
                        <input placeholder="XX-XX-XX-XX-XX" formControlName="phone" type="tel" name="phone" [(ngModel)]="patient.phone">

                        <small *ngIf="form.get('phone')?.hasError('required') && form.get('phone')?.touched">
                            Champs obligatoire !
                        </small>
                    </div>

                </div>
                <div class="buttonContain" >
                    <button  type="submit">Ajouter</button>
                </div>
            </form>
        </div> 
    </div>
</div>
