<app-header-dyn></app-header-dyn>
<div class="background">
    <div class="patients-list-container">
        <h2>Liste des patients admis</h2>
        <div class="filters">
            <button (click)="onShowPatientsIn()" class="in" [ngClass]="{'current' : show == 'in'}">Admis</button>
            <button (click)="onShowPatientsOut()" class="out" [ngClass]="{'current' : show == 'out'}">Sortis</button>
        </div>
        <div>
            <app-patients-in *ngIf="show == 'in'"></app-patients-in>
            <app-patients-out *ngIf="show == 'out'"></app-patients-out>
        </div>
    </div>
<div class="image-container"></div>
