<app-header-dyn></app-header-dyn>

<div class="connectContain">
    <div class="formContain">
        <form action="">
            <h1>Connexion</h1>
            <div class="inputConnexion">
                <label for="">Identifiant :</label>
                <input placeholder="Veuillez saisir votre identifiant" type="text">
            </div>
            <div class="inputConnexion">
                <label for="">Mot de passe :</label>
                <input placeholder="Veuillez saisir votre mot de passe" type="password">
            </div>
            <div class="buttonContain" >
                <button>Connexion</button>
            </div>
        </form>
    </div> 
</div>
