<nav class="headerDynAdmin">
    <div class="containLeftNav">
        <img src='../../../assets/img/logo_transparent.png' alt="Logo HospiD'ieu">
    </div>

    <ul class="listNavAdmin">
        <li *ngIf="isAdmin" routerLink="/user" class="liParentAdmin">Utilisateurs
            <ul class="sousAdmin">
                <li routerLink="/addUser">Ajouter un utilisateur</li>
            </ul>
        </li>

        <li routerLink="/patientsList/in" class="liParentPatient">Patients
            <ul class="sousPatient">
                <li *ngIf="isSecretaire" routerLink="/addPatient">Ajouter un patient</li>
            </ul>
        </li>

        <li (click)="onLogout()" class="liLogout">
            <img src="../../../assets/img/logout.png" alt="Logout">
        </li>
    </ul>
    <p class="roleInfo">{{mailUser}}/{{displayRole}}</p>
</nav>
