<nav class="headerDynAdmin">
    <div class="containLeftNav">
        <a href="/">
            <img src='../../../assets/img/logo_transparent.png' alt="Logo HospiD'ieu">
        </a>
    </div>

    <ul class="listNavAdmin">
        <li class="liParentAdmin">
            <a routerLink="/user" class="userNav">Utilisateur</a>
            <ul class="sousAdmin">
                <li (click)="goToAddUser()">Ajouter un Utilisateur</li>
                <li><a href=""></a>Modifier un Utilisateur</li>
            </ul>
        </li>

        <li class="liParentPatient">
            <a class="userNav">Patient</a>
            <ul class="sousPatient">
                <li><a href=""></a>Ajouter un Patient</li>
                <li><a href=""></a>Modifier un Patient</li>
            </ul>
        </li>

        <li class="liLogout">
            <img src="../../../assets/img/logout.png" alt="Logout">
        </li>
    </ul>
    <p class="roleInfo">ManuelV/Administrateur</p>
</nav>

<!--<nav class="headerDynInfirm">
    <div class="containLeftNav">
        <a href="/">
            <img src='../../../assets/img/logo_transparent.png' alt="Logo HospiD'ieu">
        </a>
    </div>
    <ul class="listNavInf">
        <li class="liParentPatient">
            <a class="userNav">Patient</a>
        </li>
        <li class="liLogout">
            <img src="../../../assets/img/logout.png" alt="Logout">
        </li>
    </ul>
    <p class="roleInfo">ManuelV/Infirmier</p>
</nav>
-->

<!--<nav class="headerDynSecretM">
    <div class="containLeftNav">
        <a href="/">
            <img src='../../../assets/img/logo_transparent.png' alt="Logo HospiD'ieu">
        </a>
    </div>
    <ul class="listNavSm">

        <li class="liParentPatient">
            <a class="userNav">Patient</a>
            <ul class="sousPatient">
                <li><a href=""></a>Ajouter un Patient</li>
                <li><a href=""></a>Modifier un Patient</li>
            </ul>
        </li>
  
        <li class="liLogout">
            <img src="../../../assets/img/logout.png" alt="Logout">
        </li>
    </ul>
    <p class="roleInfo">ManuelV/Secrétaire médical</p>
</nav>
-->
