<app-header-dyn></app-header-dyn>
<div class="form-container">
    <div class="overlay">
        <form [formGroup]="admitForm">
            <h2 *ngIf="patient">
                Entrée patient : <span>{{ patient.firstname }} - {{ patient.name }}</span>
            </h2>
            <label>Service :</label>
            <select #deptSelect formControlName = "department" (change)="onSelectDept(deptSelect.value)">
                <option value="">--Sélectionnez--</option>
                <option *ngFor="let dept of departments" [value]="dept">{{ dept }}</option>
            </select>
            <label>Chambre :</label>
            <select #roomSelect formControlName = "room" (change)="onSelectRoom(roomSelect.value, deptSelect.value)">
                <option value="">--Sélectionnez--</option>
                <option *ngFor="let room of rooms" [value]="room">{{ room }}</option>
            </select>
            <label>Lit :</label>
            <select formControlName = "bed">
                <option value="">--Sélectionnez--</option>
                <option *ngFor="let bed of beds" [value]="bed">{{ bed }}</option>
            </select>
            <p class="error">{{ errorMessage }}</p>
            <div class="buttons">
                <button class="submit" (click)="onSubmit()">Valider</button>
                <button class="cancel" (click) = "onCancel()">Annuler</button>
            </div>
        </form>
    </div>
</div>