@import '../../../styles.scss';

// .form-area {
//     display: flex;
//     flex-flow: column nowrap;
// }

.form-container {
    background-color: $colorBaseFond;
    background-image: url('../../../assets/img/bg_admi.jpg');
    background-size: cover;
    min-height: calc(100vh - 80px);
    background-position: center;
    // padding: 80px 20px 20px;
    padding-top: 80px;
    display: flex;
    flex-flow : column wrap;
    align-items: center;
    .overlay {
        height: calc(100vh - 80px)!important;
    }
}

form {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    margin: auto;
    padding: 20px 30px;
    max-width: 500px;
    min-width: 200px;
    border-radius: 10px;
    margin-top: 3em;
    box-shadow: 1px 1px 20px 3px darkgrey;
    background-color: rgba($colorBaseFond,0.9);
    gap: 0.2em;
    label {
        margin: 5px;
        font-size: 1.1em;
        text-align: left;
    }
}

.buttons {
    margin: 10px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap : 15px;
    button {
        border-radius: 7px;
        padding: 15px 30px;
        font-size: inherit;
        border: none;
        transition: .2s ease-in-out;
        font-weight: bold;
    }
    button:hover {
        cursor: pointer;
    }
    .submit {
        background-color: $colorBaseBlue;
        &:hover {
            background-color: rgb(29 189 111);
        }
    }
    .cancel {
        background-color: $colorBaseRed;
        color: white;
        &:hover{
            background-color: #e82828;
        }
    }
}

.error {
    margin: 0;
    padding: 2px;
    height: 20px;

    font-size: 0.9em;
    color: red;
}

h2 {
    text-align: center;
    margin: 0 0 15px;
    font-size: 25px;
}

