@import '../../../styles.scss';

// .form-area {
//     display: flex;
//     flex-flow: column nowrap;
// }

.form-container {
    background-color: $colorBaseFond;
    background-image: url('../../../assets/img/image_infirmiers.jpg');
    background-size: cover;
    min-height: 100vh;
    // padding: 80px 20px 20px;
    padding-top: 80px;
    display: flex;
    flex-flow : column wrap;
    align-items: center;
}

form {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    margin: auto;
    padding: 20px 30px;
    max-width: 500px;
    min-width: 200px;
    border-radius: 30px;
    box-shadow: 1px 1px 20px 3px darkgrey;
    background-color: $colorBaseFond;
    label {
        margin: 5px;
        font-size: 1.1em;
    }
}

.buttons {
    margin: 10px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap : 15px;
    button {
        border-radius: 7px;
        padding: 15px 30px;
        font-size: inherit;
    }
    button:hover {
        cursor: pointer;
    }
    .submit {
        background-color: $colorBaseBlue;
    }
    .cancel {
        background-color: $colorBaseRed;
        color: white;
    }
}

.error {
    margin: 0;
    padding: 2px;
    height: 20px;

    font-size: 0.9em;
    color: red;
}

h2 {
    text-align: center;
    margin: 0 0 15px;
    font-size: 22px;
}

