<table>
    <thead>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Service</th>
        <th>Chambre</th>
        <th>Lit</th>
        <th>Détails</th>
    </thead>
    <tbody>
        <tr *ngFor="let patient of patientsList">
            <td>{{ patient.name }}</td>
            <td>{{ patient.firstname }}</td>
            <td>{{ patient.department }}</td>
            <td>{{ patient.room }}</td>
            <td>{{ patient.bed }}</td>
            <td class="voirPlus"><button (click)="onGoToPatient(patient.idPatient)">Voir</button></td>
        </tr>
    </tbody>
</table>