<app-header-dyn></app-header-dyn>
<div class="background">
    <div class="patients-list-container">
        <h2>Liste des patients admis</h2>
        <div class="filters">
            <button (click)="onShowPatientsIn()" class="current in">Admis</button>
            <button (click)="onShowPatientsOut()" class="out">Sortis</button>
        </div>
        <table>
            <thead>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Service</th>
                <th>Chambre</th>
                <th>Lit</th>
            </thead>
            <tbody>
                <tr *ngFor="let patient of patientsList">
                    <td>{{ patient.name }}</td>
                    <td>{{ patient.firstname }}</td>
                    <td>{{ patient.department }}</td>
                    <td>{{ patient.room }}</td>
                    <td>{{ patient.bed }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="image-container"></div>
</div>

