@import '../../../styles.scss';

.background {
    min-height: 100vh;
    background-color: $colorBaseFond;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.image-container {
    padding-top: 80px;
    background-image: url('../../../assets/img/image_infirmiers.jpg');
    background-size: cover;
    background-position-x: 30%;
    min-height: 100%;
    flex: 2;
}

.patients-list-container {
    padding: 80px 20px 20px;
    flex: 3;
    display: flex;
    flex-flow : column wrap;
    align-items: center;
}

h2 {
    text-align: center;
    margin: 10px;
}

// Fixer la taille si on ajoute la barre de recherche
.filters {
    margin: 10px 0;
    display: flex;
    flex-flow: row nowrap;
    gap : 10px;
    // width: 350px;
    button {
        height: 30px;
        width: 60px;
        border-radius: 7px;
    }
    button:hover {
        cursor: pointer;
    }
    .in {
        background-color: $colorBaseBlue;
    }
    .out {
        background-color: $colorBaseRed;
        color: white;
    }
    .current {
        opacity: 0.5;
    }
}



table {
    border-collapse: collapse;
}

th, tr {
    padding: 5px 10px;
    background-color: rgb(170, 170, 170);
}

tr:nth-child(odd) {
    background-color: rgba(179, 179, 179, 0.6);
}

td {
    text-align: center;
    padding: 5px 7px;
}