<table>
    <thead>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Né.e le</th>
        <th>Téléphone</th>
        <th>Détails</th>
    </thead>
    <tbody>
        <tr *ngFor="let patient of patientsList">
            <td>{{ patient.name }}</td>
            <td>{{ patient.firstname }}</td>
            <td>{{ patient.birthDate | date : 'd/MM/YYYY' }}</td>
            <td>{{ patient.phone }}</td>
            <td class="voirPlus"><button (click)="onGoToPatient(patient.idPatient)">Voir</button></td>
    </tbody>
</table>