@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$roboto-slab: 'Roboto';  
$colorBaseBlue : #44C09B;
$colorBaseRed : #D44E4E;
$colorBasePurple : #2C074A;
$colorBaseFond : #D9D9D9;

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $roboto-slab;
}

input {
    height: 40px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 20px 3px darkgrey;
    &::placeholder{
        padding-left: .5em;
    }
}

.overlay {
    background-color: rgb(0, 0, 0,0.3);
    height: 100vh;
}


