@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$roboto-slab: 'Roboto';  
$colorBaseBlue : #44C09B;
$colorBaseRed : #D44E4E;
$colorBasePurple : #2C074A;
$colorBaseFond : #D9D9D9;

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $roboto-slab;
}

input, textarea {
    height: 40px;
    // Ajouts pour add-component : à déplacer si besoin
    resize: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 1px 1px 20px 3px darkgrey;
    &::placeholder{
        padding-left: .5em;
    }
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100%;
}

select {
    height: 40px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 20px 3px darkgrey;
    &::placeholder{
        padding-left: .5em;
    }
}

label {
    margin: 0;
}

small {
    color: red;
}
button {
    &:focus {
        outline: none;
    }
}
