@import '../../../styles.scss';

.background {
    min-height: 100vh;
    background-color: $colorBaseFond;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.image-container {
    padding-top: 80px;
    background-image: url('../../../assets/img/bgAdminUser.jpg');
    background-size: cover;
    background-position-x: 75%;
    min-height: 100%;
    flex: 2;
}

.patients-list-container {
    padding: 80px 20px 20px;
    flex: 3;
    display: flex;
    flex-flow : column wrap;
    align-items: center;
}

h2 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

table {
    border-collapse: collapse;
    thead {
        background-color: $colorBasePurple;
        color: white;
    }
}

th, tr {
    padding: 5px 10px;
}



.table-striped tbody tr:nth-of-type(even) {
    background-color: rgb(203, 167, 209);
}

td {
    padding: 5px 10px;
}