<app-header-dyn></app-header-dyn>
<div class="background">
    <div class="patients-list-container">
        <h2> Liste des utilisateurs</h2>
            <table class="table table-striped">
                <thead>
                    <th>Id</th>
                    <th> Prénom</th>
                    <th> Nom</th>
                    <th> Email </th>
                    <!-- <th> Mot de passe </th> -->
                    <th> Rôle </th>
                </thead>
                <tbody>
                    <tr *ngFor = "let user of users">
                        <td> {{ user.idUser}}</td>
                        <td> {{ user.firstname}}</td>
                        <td> {{ user.name}}</td>
                        <td> {{ user.email}}</td>
                        <!-- <td> {{ user.password}}</td> -->
                        <td> {{ user.role}}</td>
                   
                    </tr>
                </tbody>
            </table>
    </div>
<div class="image-container"></div>
</div>